*{
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: 	#e7ebec;
	padding:0;
	margin: 0;
}
.headbox{
	position: absolute;
	width: 1920px;
	height: 166px;
	
}

.headbox #boxlogo{
	position: absolute;
	width: 	245px;
	height: 107px;
	left:375px;
	top:29px;
	background-size: cover;
	background-image: url(img/logo.png)
	
	
}

.phone{
	position: absolute;
	width: 189px;
	height: 50px;
	
	left:1174px;
	top: 58px;
}

.phone #logophone{
	position: absolute;
	width: 24px;
	height: 48px;

	left:2px;
	top:1px;
	background-size: 95%;
	background-image: url(img/phone.png);

}

.phone ul {
	position: absolute;
	margin-top: 7px;
	floa:right;
	color:black;
	vertical-align: right;

}
.phone a{
	color: black;
}
li{
	list-style-type: none; 
}
.time{
	position: absolute;
	width: 189px;
	height: 50px;
	
	left:1393px;
	top: 58px;
}

.time #logotime{
	position: absolute;
	
	width: 48px;
	height: 48px;
	left:2px;
	top:1px;
	background-size: cover;
	background-image: url(img/clock.png);

}

.time ul{
	position: absolute;
	margin-left:20px;
	margin-top: 7px;
	float:right;
	color:black;
	vertical-align: right;
}

ul#menu li{
	display: inline-block;
	left:50px;
	
}
#menu{
	position: absolute;
	left: 310px;
}
#menu a {
	display: inline-block;
	text-decoration: none;
	color:#2b2d2d;
	font-weight: 500;
	padding: 7px 20px;
	font-weight: 550;
	margin-left: 10px;
}

#menu a:hover {
	text-decoration: underline;
	color: #1bb330;
}
.menumain{
	position: absolute;
	width: 1920px;
	height: 60px;
	background-color: white;
	top:166px;
	border-bottom:  4px solid #cdd6d8;
}

#shop{
	position: absolute;
	width: 33px;
	height: 33px;
	background-size: cover;
	left:1460px;
	top:13px;
	background-image: url(img/shop.png);
}

#profile{
	position: absolute;
	width: 33px;
	height: 33px;
	background-size: cover;
	left:1520px;
	top:13px;
	background-image: url(img/profile.png);
}

#scroll{
	position: absolute;
	width: 1920px;
	height: 570px;
	top:230px; 
}
#scroll-picture{
	height: 500px;
	width: 1920px;
	background-image: url(img/scroll-picture.png);
}



#scroll ul li a{
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-left:  8px;
  border-radius: 10px;
  border: 3px solid #2b2d2d;
}



#scroll ul{
	display: flex;
	justify-content:center;
	flex-direction: row;
	align-items: flex-end;
	}

	

	#more-about-products{
		position: absolute;
		height: 798px;
		width: 1200px;
		
		top:900px;
		left: 360px;
	}

#more-about-products #more-about-products-firstline ul{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
}
#more-about-products #more-about-products-firstline ul li{
	height: 370px;
	width: 272px;
	
}




#more-about-products #more-about-products-secondline ul {
 display: flex;
 flex-direction: row;
 justify-content:space-around;


}
#more-about-products #more-about-products-secondline ul li{
	height: 370px;
	width: 272px;
	
	
}


#more-about-products #more-about-products-secondline ul  #promise-block{
	width: 560px;
	height: 370px;
	background-color: white;
}

 #iphone{
	
	height: 222px;
	width: 178px;
	margin-left: 47px;
	margin-top: 5px;
}
#ipod{
	height: 222px;
	width: 143px;
	margin-left: 65px;
	margin-top: 5px;
}

#iwatch{
	height: 222px;
	width: 124px;
	margin-left: 74px;
	margin-top: 5px;
}
#ipad{
	height: 222px;
	width: 190px;
	margin-left: 41px;
	margin-top: 5px;
}

#imac{
  height: 214px;
	width: 272px;
	margin-top: 12px;
}

#macbook{
  height: 158px;
	width: 272px;
	margin-top: 68px;
}
#logo-apple{
	height: 132px;
	width: 108px;
	margin-top: 57px;
	margin-left: 226px;
}

#more-about-products ul li p {
	margin-left:85px;
	margin-top: 52px;
	font-weight: 700;
}
#promise-text{
	height: 80px;
	width: 180px;
	text-align: center;
  margin-left: 190px ; 
  margin-top: 30px;
  font-weight: bold;
}

#more-about-products ul li #more{
	
	height: 30px;
	width: 200px;
	margin-left: 36px;
	margin-top: 20px;
	text-align: center;
	border-radius: 30px;
	padding-top: 12px;
	 border: 3px solid #42be54;
	 color: #42be54;
}

#more-about-products ul li #more : hover{
	background-color: #42be54;
	color:white;
}

#iphone{background-image: url(img/iphone.png);}
#ipad{background-image: url(img/ipad.png);background-size: cover;}
#imac{background-image: url(img/imac.png);}
#macbook{background-image: url(img/macbook.png);}
#ipod{background-image: url(img/ipod.png);}
#iwatch{background-image: url(img/iwatch.png);}
#logo-apple{background-image: url(img/applelogo.png);}