*{
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: 	#e7ebec;
	padding:0;
	margin: 0;
}
.headbox{                    /* Начало шапки*/
	position: absolute;
	width: 1920px;
	height: 166px;
}
.headbox #boxlogo{
	position: absolute;
	width: 	245px;
	height: 107px;
	left:375px;
	top:29px;
	background-size: cover;
	background-image: url(img/logo.png)
}
.phone{
	position: absolute;
	width: 189px;
	height: 50px;
	left:1174px;
	top: 58px;
}
.phone #logophone{
	position: absolute;
	width: 24px;
	height: 48px;
  left:2px;
	top:1px;
	background-size: 95%;
	background-image: url(img/phone.png);
}
.phone ul {
	position: absolute;
	margin-top: 7px;
	floa:right;
	color:black;
	vertical-align: right;
}
.phone a{
	color: black;
}
li{
	list-style-type: none; 
}
.time{
	position: absolute;
	width: 189px;
	height: 50px;
	left:1393px;
	top: 58px;
}
.time #logotime{
	position: absolute;
	width: 48px;
	height: 48px;
	left:2px;
	top:1px;
	background-size: cover;
	background-image: url(img/clock.png);
}
.time ul{
	position: absolute;
	margin-left:20px;
	margin-top: 7px;
	float:right;                      /* Конец шапки*/
	color:black;
	vertical-align: right;
}
ul#menu li{
	display: inline-block;  /*Начало меню*/
	left:50px;
}
#menu{
	position: absolute;
	left: 310px;
}
#menu a {
	display: inline-block;
	text-decoration: none;
	color:#2b2d2d;
	font-weight: 500;
	padding: 7px 20px;
	font-weight: 550;
	margin-left: 10px;
}
#menu a:hover {
	text-decoration: underline;
	color: #1bb330;
}
.menumain{
	position: absolute;
	width: 1920px;
	height: 60px;
	background-color: white;
	top:166px;
	border-bottom:  4px solid #cdd6d8;
}
#shop{
	position: absolute;
	width: 33px;
	height: 33px;
	background-size: cover;
	left:1460px;
	top:13px;
	background-image: url(img/shop.png);
}
#profile{
	position: absolute;
	width: 33px;
	height: 33px;
	background-size: cover;
	left:1520px;                         /*Конец меню*/
	top:13px;
	background-image: url(img/profile.png);
}
#scroll{
	position: absolute;
	width: 1920px;     /*Начало карусели*/
	height: 570px;
	top:230px; 
}
#scroll-picture{
	height: 500px;
	width: 1920px;
	background-image: url(img/scroll-picture.png);
}
#scroll ul li a{
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-left:  16px;
	border-radius: 10px;
	border: 2px solid #2b2d2d;
	margin-top: 50px;
}
#scroll ul li a:active{
	border: 2px solid #42be54;
	background-color:#42be54;
}

#scroll ul{
	display: flex;
	justify-content:center;
	flex-direction: row;
	align-items: flex-end;       /*Конец Карусели*/
}
#more-about-products{
	position: absolute;
	height: 798px;        /*Начало плиток с девайсами*/
	width: 1200px;
  top:900px;
	left: 360px;
}
#more-about-products #more-about-products-firstline ul{
	display: flex;
	justify-content:space-around;
	flex-direction: row;
}
#more-about-products #more-about-products-firstline ul li{
	height: 370px;
	width: 272px;
}
#more-about-products #more-about-products-secondline ul {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}
#more-about-products #more-about-products-secondline ul li{
	height: 370px;
	width: 272px;
}
#more-about-products #more-about-products-secondline ul  #promise-block{
	width: 560px;
	height: 370px;
	background-color: white;
	box-shadow: 5px 5px 0 0 rgba(0,0,0,0.5);
}
#iphone{
	height: 222px;
	width: 178px;
	margin-left: 47px;
	margin-top: 5px;
}
#ipod{
	height: 222px;
	width: 143px;
	margin-left: 65px;
	margin-top: 5px;
}

#iwatch{
	height: 222px;
	width: 124px;
	margin-left: 74px;
	margin-top: 5px;
}
#ipad{
	height: 222px;
	width: 190px;
	margin-left: 41px;
	margin-top: 5px;
}

#imac{
	height: 214px;
	width: 272px;
	margin-top: 12px;
}

#macbook{
	height: 158px;
	width: 272px;
	margin-top: 68px;
}
#logo-apple{
	height: 132px;
	width: 108px;
	margin-top: 57px;
	margin-left: 226px;
}

#more-about-products ul li p {
	margin-left:85px;
	margin-top: 52px;
	font-weight: 700;
}
#promise-text{
	height: 80px;
	width: 180px;
	text-align: center;
	margin-left: 190px ; 
	margin-top: 30px;
	font-weight: bold;
}

#more-about-products ul li #more{
	
	height: 30px;
	width: 200px;
	margin-left: 36px;
	margin-top: 20px;
	text-align: center;
	border-radius: 30px;
	padding-top: 12px;
	border: 3px solid #42be54;
	color: #42be54;

}

#more-about-products ul li #more:hover{
	background-color: #42be54;
	color:white;
}

#iphone{background-image: url(img/iphone.png);}
#ipad{background-image: url(img/ipad.png);background-size: cover;}
#imac{background-image: url(img/imac.png);}
#macbook{background-image: url(img/macbook.png);}
#ipod{background-image: url(img/ipod.png);}
#iwatch{background-image: url(img/iwatch.png);}
#logo-apple{background-image: url(img/applelogo.png);}   /*Конец плиток с девайсами*/

#news-main{
	position: absolute;   /*Начало блока нвостей*/
	height: 274px;
	width: 1168px;
	top:1750px;
	left: 376px;

}
#news-main p {
font-size: 16pt;
font-weight: bold;
}

#news-main ul#news-firstline {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0; 
}
#news-main ul#news-firstline li{
	height: 70px;
	width: 582px;

}

#news-main ul#news-secondline {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding: 0; 


}
#news-main ul#news-secondline li{
	height: 70px;
	width: 582px;
	
	
}
#news-main #number{
	height: 36px;
	width:40px;
	border-radius: 30px;
	border: 3px solid #42be54; 
  text-align: center;
  font-size: 20pt;
  color: #42be54;
  padding-top: 4px;

}
#news-main p#news-name {
	height: 15px;
	width: 520px;
	margin-top: -35px; 
  margin-left: 60px;
  font-weight: normal;
  font-size: 12pt;
}

p#date-more{
	font-size: 10pt;
	margin-top: 15px;
	margin-left: 60px;
	color: #727777;
}
p#date-more a{

	color: #727777;
}

#why-we{
	position: absolute;
	height: 330px;
	width: 1168px;
	top:2000px;
	left:376px;
	margin-bottom: 200px;
	
}
#why-we p#why-we-maintitle{
font-size: 16pt;
font-weight: bold;
margin-top: -2px;
}
#why-we #why-we-textarea{
	width: 1148px;
	height: 236px;
	background-color: white; 
	margin-top: 52px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;

	}

	#why-we #why-we-textarea p {
		font-size: 13pt;
		height: 230px;
		width: 1120px;
		margin:20px; 
		line-height: 1.5;
	}

	#footer{
		position: absolute;
		height: 93px;
		background-color: #2b2d2d;
		width: 1920px;
    top: 2500px;
    }
    #footer ul{
    	width: 300px;
    	display: flex;
    	flex-direction: row;
	    justify-content:space-around;
	    margin-left: 590px;
	    margin-top: 40px;
	  }

	  #footer ul a{
	  	text-decoration: none;
	  	color: #e7ebec;
	  }
#footer ul a:hover{
	color:#42be54;
}
	  #footer ul#copyright{
	  	display: flex;
	  	flex-direction: column;
	  	margin-top: -40px;
	  	margin-left: 357px;  
	  	color: #e7ebec;
	  	border-right: 1px solid #e7ebec; 
	  	width: 230px;
	  }
	  #bonch-dev-logo{
	  	position: absolute;
	  	height: 38px;
	  	width: 88px;
	  	background-image:url(img/bonchlogo.png);
	  	left: 1460px;
	  	top:28px;
	  	background-size: cover;

	  }